/* Genel Stiller */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    margin: 20px auto; /* Sayfayı ortala */
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    margin-top: 0;
    color: #555;
    font-size: 18px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

.quiz-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #5cb85c;
}

.quiz-link:hover {
    color: #4cae4c;
}

/* Footer Stilleri */
footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}
