<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Sınav Uygulaması</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Demo Sınav</h1>
        <form action="{{ url_for('submit') }}" method="post">
            {% for question in questions %}
            <div class="question">
                <h2>{{ question[1] }}</h2>
                <ul class="options">
                    <li><input type="radio" name="question{{ question[0] }}" value="{{ question[2] }}"> {{ question[2] }}</li>
                    <li><input type="radio" name="question{{ question[0] }}" value="{{ question[3] }}"> {{ question[3] }}</li>
                    <li><input type="radio" name="question{{ question[0] }}" value="{{ question[4] }}"> {{ question[4] }}</li>
                    <li><input type="radio" name="question{{ question[0] }}" value="{{ question[5] }}"> {{ question[5] }}</li>
                </ul>
            </div>
            {% endfor %}
            <button type="submit">Gönder</button>
        </form>
    </div>
    <footer>
        <p>  © 2024 by Noah</p>
    </footer>
</body>
</html>
